$hover-link-button-color: #2196f3;
$hover-button-color: #188ce8;
$basic-text-color: #757575;
$white-text-color: #ffffff;
$footer-link-color: rgba(255, 255, 255, 0.6);
$basic-icon-color: #afb1b8;
$white-icon-color: #ffffff;
$basic-background-color: #f5f4fa;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$static-form-text-color: #212121;