.section-team {
    background-color: $basic-background-color;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
  
    @media screen and (min-width:1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  
    
  
  }
  
  .team__images {
    max-width: 100%;
    height: auto;
    @media screen and (max-width:767px) {
      width: 450px;
    }
  
    @media screen and (min-width:768px) {
      width: 354px;
    }
  }
  
  
  .team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    @media screen and (min-width:1200px) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }
  
  .team__list {
    list-style-type: none;
    background-color: $basic-background-color;
    margin-bottom: -30px;
  
    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-right: -30px;
    }
  }
  
  .team__item {
    background: $white-icon-color;
    max-width: 450px;
    margin-bottom: 30px;
    @media screen and (min-width:768px) {
      width: 354px;
      margin-right: 30px;
    }
    @media screen and (min-width:1200px) {
      width: 270px;
    }
  
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  
    
  }
  
  .team-card {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  
  .team-card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  
  .team-card__text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $basic-text-color;
    padding-bottom: 16px;
  }
  
  .team-card__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .team-card__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background 250ms $timing-function;
  
    &:hover,
    &:focus,
    &:active {
      background: $hover-link-button-color;
    }
  
    &:hover,
    &:focus,
    &:active {
      .team-icon {
        fill: $white-icon-color;
        cursor: pointer;
      }
    }
  }
  
  .team-icon {
    fill: $basic-icon-color;
    transition: fill 250ms $timing-function;
  }